<%= turbo_frame_tag post do %>
  <div class='post border flex-col mt-2'>
    <p>
      Title:
      <%= link_to post.title, post_path(post), data: { turbo_frame: :_top } %>
    </p>
    <%= "Article: #{post.article}" %>
    <div class="post_actions">
      <%= button_to 'Delete',
                    post_path(post),
                    method: :delete,
                    # form: { data: { turbo_frame: :_top } },
                    class: 'btn btn--light' %>
      <%= link_to 'Edit',
                  edit_post_path(post),
                  class: 'btn btn--light' %>
    </div>
  </div>
  <hr/>
<% end %>
